
@{
    ViewBag.Title = "Products";
    var Products = ViewData["Products"] as IEnumerable<MVCProject.Models.Product>;
    var category = "";
    category += ViewContext.RouteData.Values["id"];
}
<h2>@ViewBag.Title</h2>
<asp:ListView GroupItemCount="4">
    <table id="mytable" style="text-wrap:normal; border-collapse: separate; border-spacing: 50px; width:500px; height:100px;">
        <tr>
            @foreach (var item in Products)
            {
                if (category == "" || category == item.CategoryID.ToString())
                {
                    <td style="vertical-align: top; text-align:left; word-wrap: break-word">
                        <a href="@Url.Action("Product","Home",new { id = @Html.DisplayFor(Item => item.ProductName).ToString() },null)">
                            <img ID="Image2" runat="server" src="~/Catalog/Images/Thumbs/@Url.Content(@Html.DisplayFor(Item => item.ImagePath).ToString())" width="100" height="75" />
                        </a>
                        <br />
                        @Html.ActionLink(@Html.DisplayFor(Item => item.ProductName).ToString(), "Product", "Home", new { id = @Html.DisplayFor(Item => item.ProductName).ToString() }, null)
                        <br />
                        <span>
                            <b> Price: </b> £@Html.DisplayFor(Item => item.Price)
                        </span>
                        <br />
                        <b>Add To Cart</b>
                    </td>
                }

            }
        </tr>
    </table>
</asp:ListView>



